/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.main-pane-user{
	-fx-background-color: #292929;
	-fx-padding: 9 0 9 0;
}

.pnl-center{
	-fx-background-color: #4B4D4F; 
	-fx-background-radius: 7.0px;
	-fx-padding: 15.0 15.0 0.0 15.0;
	-fx-min-height: 500.0px; 
	-fx-min-width: 600.0px; 
	-fx-max-height: 500.0px; 
	-fx-max-width: 600.0px;
	-fx-effect: dropshadow(three-pass-box, #494949, 10.0, 0.0, 0.0, 0.0);
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.title-login{
	
}

.info-underTitle{
    -fx-fill: #C4C4C4;
	-fx-font-size: 13.0px;
}

.text-description{
	-fx-text-fill: white;
	-fx-font-size: 16 px;
	-fx-padding: 17 0 15 0;
}

.sep-title{
	-fx-padding: 10 100 10 100;
}

.sep-title .line{
	-fx-border-color: #878787;
	-fx-border-width: 1 0 0 0;

}

.add-title-info{
	-fx-fill: white;
	-fx-font-size: 24.0px;
	
}

.add-cont-title-info-first{
	-fx-padding: 20 0 10 0;
}

.add-cont-title-info{
	-fx-padding: 50 0 10 0;
}

.pnl-image{
	-fx-background-color: #333333;
	-fx-border-color: #8A8A8A;
   	-fx-border-radius: 4.0;
   	-fx-background-radius: 4px;
}

.pnl-cont-image{
	-fx-padding: 10 200 10 200;
}

.chb-category {
  	-fx-background-color: #333333;
	-fx-border-color: #8A8A8A;
	-fx-border-radius: 4.0;
   	-fx-background-radius: 4px;
  	-fx-mark-color: white;
  	-fx-pref-width: 150px;
}

.chb-category > .label { 
	-fx-text-fill: white;
}

.chb-category .context-menu { 
	-fx-background-color: #333333;
	-fx-pref-width: 146px;
}
.chb-category .menu-item:focused { 
	-fx-background-color: #424242;
}
.chb-category .menu-item > .label { 
	-fx-text-fill: white;
}
.chb-category .menu-item:focused > .label { 
	-fx-text-fill: white;
}



.date-picker{
	-fx-background-color: #333333;
	-fx-border-color: #8A8A8A;
	-fx-border-radius: 4.0;
   	-fx-background-radius: 4px;
  	-fx-pref-width: 235px;
  	-fx-text-fill: white;
}

.date-picker .text-field {
    -fx-control-inner-background: #333333;
  	-fx-text-fill: white;
}

.check-box{

}

.check-box .box{
	-fx-outer-border: #cadbec;
	-fx-body-color: white;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 2px, 0px;
	-fx-control-inner-background: #333333;
	-fx-border-color: #8A8A8A;
	-fx-border-radius: 4.0;
   	-fx-background-radius: 4px;
}

.check-box .mark {
    -fx-shape:"M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004
    l0.003,0.004L14.596,2.055z";
    -fx-scale-x: 2;
    -fx-scale-y: 2;
}

.text-field-add-info {
	-fx-control-inner-background: #333333;
	-fx-border-color: #8A8A8A;
	-fx-border-radius: 4.0;
   	-fx-background-radius: 4px;
  	-fx-max-width: 400px;
  	-fx-text-fill: white;
}

.text-field-add-info:focused {
	-fx-control-inner-background: #424242;
}

.pnl-button-add{
	-fx-padding: 30 0 15 0;
}