
/*	==========================
 	 LOGIN & SING UP STYLE
 	========================== */

.main-pane-log-sing{
	-fx-background-image: url("../../res/images/login-bg-4.jpg");
	-fx-background-position: center center;
	/*-fx-background-repeat: stretch;
  	-fx-background-size: 150.0 71.0;*/
	-fx-text-fill: #EEEFEF;
}

.title-log-sing{
	-fx-text-fill: white;
    -fx-font-size: 50.0px;
}

.txtErr{
	-fx-fill: #9E031E;
    -fx-font-size: 12.0px;
}



/*	==========================
 	 TITLE STYLE
 	========================== */

.main-title{
    -fx-font-size: 60px;
    -fx-fill: #E8E7E8;
   	-fx-padding: 0 0 10 0;
}



/*	==========================
 	 BUTTON STYLE
 	========================== */

.btn-normal{
	-fx-background-color:none;
    -fx-background-insets: 0.0,1.0,2.0,3.0,0.0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16.0px;
    -fx-padding: 8 15;
    -fx-border-color: white;
   	-fx-border-radius: 4.0;
}

.btn-normal:hover {
   	-fx-background-color: #464C51;
}

.btn-small{
    -fx-font-size: 13.0px;
    -fx-padding: 3 8;
}


.toolbar-header{
	-fx-background-color: black;
}

.btn-backahead{
	-fx-background-color:none;
    -fx-background-insets: 0.0,1.0,2.0,3.0,0.0;
    -fx-text-fill: #0075F2;
    -fx-font-weight: bold;
    -fx-font-size:20.0px;
}

.btn-back{
	-fx-padding: 1 9 1 8;
}

.btn-ahead{
	-fx-padding: 1 8 1 9;
}

/* ============
	Menu BAR
   ============ */
   
.topMenu{
	-fx-background-color: #A3A2A4;
}

/* ============
	Menu LEFT 
   ============ */
   
.leftMenu{
	-fx-background-color: #151515;
}


.user-info {
	-fx-background-color: #0D0D0C;
}

.btnUser {
 	-fx-background-image: url('../../res/images/user.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10%;
  	-fx-background-color:#111111;
  	-fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 30;
   	-fx-min-height: 50px; 
	-fx-max-height: 50px;
}

.btnUser:selected {

}

.btn-menu {
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10%;
  	-fx-background-color: transparent;
  	-fx-background-radius: 0px;
    -fx-text-fill: white;
    -fx-font-size: 17px;
    -fx-padding: 10 20 10 60;
   	-fx-min-height: 50px; 
	-fx-max-height: 50px;
	-fx-alignment: center-left;
}
	
.btn-menu:hover{
	-fx-text-fill: #BEBFBF;
}

.v-box-menu{
	-fx-padding: 15 0 10 0;
}

.text-menu{
	-fx-text-fill: white;
    -fx-font-size: 17px;
    -fx-background-color: none;
    -fx-padding: 7 0 7 20;
    
}

.text-menu:selected {
}

.img-selection-menu{
	-fx-padding: 5px;
	-fx-margin: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

/* ==================
	SCROLLBAR 
   ================== */
   
.scroll-bar{
 -fx-background-color: transparent;
 -fx-background-radius: 2em;
}

.main-pane:hover .scroll-bar:horizontal .track,
.main-pane:hover .scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}
.main-pane:hover .scroll-bar:vertical .track-background,
.main-pane:hover .scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}

.scroll-bar:horizontal .thumb {
 -fx-background-color: transparent;
 }
 .scroll-bar:vertical .thumb {
 -fx-background-color: transparent;
 }
 
.main-pane:hover .scroll-bar:horizontal .thumb {
 -fx-background-color: #505050;
 -fx-background-insets: 4 0 4 0;
 -fx-background-radius: 2em;
}
.main-pane:hover .scroll-bar:vertical .thumb {
 -fx-background-color: #505050;
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2em;
}
.main-pane:hover .scroll-bar:horizontal .thumb:hover,
.main-pane:hover .scroll-bar:vertical .thumb:hover {
 -fx-background-color: #626262;
}

.main-pane:hover .scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.main-pane:hover .scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}

.scroll-bar:horizontal .increment-arrow {
 -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-arrow {
 -fx-background-color: transparent;
}

.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: transparent;
}

.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: transparent;
}

.main-pane:hover .scroll-bar:vertical:focused,
.main-pane:hover .scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}

.main-pane:hover .scroll-pane > .corner {
    -fx-background-color: transparent;
}


