/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.main-pane-user{
	-fx-background-color: #292929;
	-fx-padding: 9 0 9 0;
}

.pnl-center{
	-fx-background-color: #4B4D4F; 
	-fx-background-radius: 7.0px;
	-fx-padding: 15.0 15.0 0.0 15.0;
	-fx-min-height: 500.0px; 
	-fx-min-width: 600.0px; 
	-fx-max-height: 500.0px; 
	-fx-max-width: 600.0px;
	-fx-effect: dropshadow(three-pass-box, #494949, 10.0, 0.0, 0.0, 0.0);
}

.btn-remove{
	-fx-border-color: #0075F2;
}

.text-name-item{
	-fx-text-fill: white;
	-fx-font-size: 23px;
}